@nomicfoundation/hardhat-toolbox
@nomiclabs/hardhat-ethers
ethers
hardhat
@alch/alchemy-web3
@openzeppelin/contracts
axios
body-parser
dotenv
ejs
express
ipfs-http-client
multer
mysql
mysql2
nft.storage
open
sequelize
serverless-http
qrcode
nodemailer